@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&display=swap');

*{
    box-sizing: border-box;

}

body{
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 300px;
    font-family: sans-serif;
    margin: 0;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    margin: 10px 0 20px;
    color:aliceblue;
    font-size: 1.4rem;
}
textarea{
    width: 500px;
    height: 150px;
    border: none;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 15px;
}

textarea::placeholder{
    padding: 20px 0 0 20px;

}

#tags{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
.tag{
    border: 100vh;
    background-color: orange;
    color: aliceblue;
    padding: 10px 25px;
    margin: 0 5px 10px 0;
    font-size: 15px;
    display: inline-block;
    border-radius: 50px;
    
}

.tag.highlight{
    background-color: green;
    color:aliceblue;
    padding: 10px 25px;
    margin: 0 5px 10px 0;
    font-size: 15px;
    display: inline-block;
    border-radius: 50px;
    
}